# `ensembl_gene_id` to `hgnc_id` mapping

This mapping can be obtained via:
1. hgnc
2. ensembl

We should always use the reference table from hgnc website when converting hgnc_id to other ids, as it's carefully curated to ensure unique mapping.

If you access the id mapping through ensembl, in a lot of cases, multiple ensembl ids map to the same hgnc_id.

In [1]:
import bionty as bt
import pandas as pd

In [2]:
gn = bt.Gene(species="human")

In [ ]:
ens = gn.reference

In [9]:
hgnc = pd.read_csv("../guides/data/hgnc_complete_set.txt", sep="\t")

/var/folders/m8/s9fnpvhj7qsgng70w8xpts_m0000gn/T/ipykernel_42456/1424979734.py:1: DtypeWarning: Columns (32,34,38,40,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../guides/data/hgnc_complete_set.txt', sep='\t')

In [ ]:
diff_set = set(ens["ensembl_gene_id"].values).difference(df.ensembl_gene_id)

ref_diff = ens[ens["ensembl_gene_id"].isin(diff_set)]

Here you already see both two ensembl ids (index 40 and 42) map to HGNC:6338

In [ ]:
ref_diff.head(10)

    ensembl_gene_id entrezgene_id     hgnc_id hgnc_symbol
37  ENSG00000278704           NaN         NaN         NaN
38  ENSG00000262826         65123  HGNC:26153       INTS3
39  ENSG00000275151           NaN         NaN         NaN
40  ENSG00000275717          3811   HGNC:6338     KIR3DL1
41  ENSG00000274714          3809   HGNC:6336     KIR2DS4
42  ENSG00000276379          3811   HGNC:6338     KIR3DL1
43  ENSG00000280538           NaN         NaN         NaN
44  ENSG00000274324          3809   HGNC:6336     KIR2DS4
45  ENSG00000271254     102724250         NaN         NaN
46  ENSG00000275047          3810   HGNC:6337     KIR2DS5

If you search for the hgnc_id HGNC:6338 in hgnc, you got another ensembl id ENSG00000167633

In [ ]:
hgnc[hgnc.hgnc_id == "HGNC:6338"]["ensembl_gene_id"]

13835    ENSG00000167633
Name: ensembl_gene_id, dtype: object

Check whether ENSG00000167633 is mapped to HGNC:6338 in ensembl, yes at least it is

In [ ]:
ens[ens.ensembl_gene_id == "ENSG00000167633"]

       ensembl_gene_id entrezgene_id    hgnc_id hgnc_symbol
62030  ENSG00000167633          3811  HGNC:6338     KIR3DL1